@model Fale_Conosco.ViewModel.LoginVM
@{
    ViewData["Title"] = "Login";
}
<link href="~/css/login.css" rel="stylesheet" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        @Html.ValidationSummary()
        <!-- Login Form -->
        <form asp-controller="Account" asp-action="Login">
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(x => x.Email, new { @class = "fadeIn first", placeholder = "E-mail" })
            @Html.PasswordFor(x => x.Senha, new { @class = "fadeIn second", placeholder = "Senha" })
            <input type="submit" class="fadeIn fourth" value="Entrar" />
        </form>
    </div>
</div>