@model Fale_Conosco.ViewModel.FaleConoscoVM

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Olá, seja bem-vindo!</h1>
<hr />
<h3>Fale Conosco</h3>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-11">
        <!--FORMULÁRIO-->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="text-left">
                <h5 class="display-5">Dados Pessoais</h5>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="DataNascimento" class="control-label"></label>
                    <input id="DataNascimento" asp-for="DataNascimento" class="form-control" placeholder="dd/mm/aaaa" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="CPF" class="control-label"></label>
                    <input id="CPF" asp-for="CPF" class="form-control" placeholder="Ex: 000.000.000-00" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Ex: teste@teste.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="Celular" class="control-label"></label>
                    <input id="Celular" asp-for="Celular" class="form-control" placeholder="Ex: (00) 0 0000 0000" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="Sexo" class="control-label"></label>
                    <select asp-items="ViewBag.Sexo" asp-for="Sexo" class="form-control"></select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="text-left">
                <h5 class="display-5">Endereço</h5>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <label asp-for="CEP" class="control-label"></label>
                    <input id="CEP" asp-for="CEP" class="form-control" placeholder="Ex: 00000-000" />
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Rua" class="control-label"></label>
                    <input asp-for="Rua" class="form-control" placeholder="Rua/Avenida" />
                    <span asp-validation-for="Rua" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Complemento" class="control-label"></label>
                    <input asp-for="Complemento" class="form-control" placeholder="Complemento (Opcional)" />
                    <span asp-validation-for="Complemento" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <label asp-for="Bairro" class="control-label"></label>
                    <input asp-for="Bairro" class="form-control" placeholder="Bairro" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input asp-for="Cidade" class="form-control" placeholder="Cidade" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Estado" class="control-label"></label>
                    <select asp-items="ViewBag.Estado" asp-for="Estado" class="form-control"></select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" placeholder="Ex:1234" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
            </div>
            <hr />

            <div class="text-left">
                <h5 class="display-5">Mensagem</h5>
            </div>

            <div class="col-lg">
                <label asp-for="Assunto" class="control-label"></label>
                <input asp-for="Assunto" class="form-control" placeholder="Título da Mensagem" />
                <span asp-validation-for="Assunto" class="text-danger"></span>
            </div>
            <div class="col-lg">
                <label asp-for="Mensagem" class="control-label"></label>
                <textarea asp-for="Mensagem" class="form-control" placeholder="Mensagem"></textarea>
                <span asp-validation-for="Mensagem" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
            <h5>@ViewBag.cadastro</h5>
        </form>
    </div>
</div>

@section scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CPF").mask('000.000.000-00'), { reverse: true };
            $("#DataNascimento").mask('00/00/0000');
            $("#Celular").mask('(00) 0 0000-0000');
            $("#CEP").mask('00000-000');
        });
    </script>
    <script>
        $("#CPF").focusout(function () {
            var cpf = $("#CPF").unmask().val();
            $("#CPF").mask('000.000.000-00', { reverse: true });

            if (!TestaCPF(cpf)) { $("CPF").focus(); }
        });
        function TestaCPF(strCPF) {
            var Soma;
            var Resto;
            Soma = 0;
            if (strCPF == "00000000000" || strCPF == "11111111111" || strCPF == "22222222222" || strCPF == "33333333333" || strCPF == "44444444444" || strCPF == "55555555555" || strCPF == "66666666666" || strCPF == "77777777777" || strCPF == "88888888888" || strCPF == "99999999999") {
                $("#CPF").val("");
                return false;
            }
            for (i = 1; i <= 9; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (11 - i);
            Resto = (Soma * 10) % 11;

            if ((Resto == 10) || (Resto == 11)) Resto = 0;
            if (Resto != parseInt(strCPF.substring(9, 10))) {
                $("#CPF").val("");
                return false;
            }
            Soma = 0;
            for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (12 - i);
            Resto = (Soma * 10) % 11;

            if ((Resto == 10) || (Resto == 11)) Resto = 0;
            if (Resto != parseInt(strCPF.substring(10, 11))) {
                $("#CPF").val("");
                return false;
            }
            return true;
        }
    </script>
}
