@model Fale_Conosco.ViewModel.SMTPVM

@{
    ViewData["Title"] = "Resposta";
}

<h1>Resposta</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Email">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-lg-12">
                <label asp-for="Destinatario" class="control-label"></label>
                <input asp-for="Destinatario" class="form-control" />
                <span asp-validation-for="Destinatario" class="text-danger"></span>
            </div>
            <hr />
            <div class="col-lg-12">
                <label asp-for="Assunto" class="control-label"></label>
                <input asp-for="Assunto" class="form-control" />
                <span asp-validation-for="Assunto" class="text-danger"></span>
            </div>
            <hr />
            <div class="col-lg">
                <label asp-for="Mensagem" class="control-label"></label>
                <textarea asp-for="Mensagem" class="form-control"></textarea>
                <span asp-validation-for="Mensagem" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <button onclick="Enviar(@Model.Id)" class="btn btn-primary">Enviar</button>
                <a asp-action="Lista" class="btn btn-secondary">Lista</a>
            </div>
        </form>
    </div>
</div>
@section scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        var token = $('input[name="__RequestVerificationToken"]').val();
        function Enviar(Id) {
            $.ajax({
                method: 'POST',
                url: "@Url.Action("Email","FaleConosco")",
                data: { __RequestVerificationToken: token, Id: Id },
                success: function (data) {
                    Swal.fire("Resposta enviada com sucesso!!!", "", "success").then(function () {
                    window.location = "@Url.Action("Lista","FaleConosco")";
                    });
                }
            })
        }
    </script>
}